#contenedor{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 2rem 0;
    
   
} 

.palabron{ 
    font-size: 2.5rem;
    color: hsla(251, 100%, 28%, 0.699);
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;

}